.spacer {
  height: 1rem;
}

.spacer-lg {
  height: 5rem;
}

.spacer-sm {
  height: 0.5rem;
}

/* !FIX THE HOVER EFFECT */

/* Build button */
.build-button {
  align-items: center;
  background-color: var(--color-aqua);
  border: 3px solid var(--color-dark-blue);
  border-radius: 50px;
  box-sizing: border-box;
  color: var(--color-dark-blue);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.build-button:after {
  background-color: var(--color-black);
  border-radius: 50px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.build-button:hover:after {
  transform: translate(0, 0);
}

.build-button:active {
  outline: 0;
}

.build-button:hover {
  background: oklch(from var(--color-aqua) calc(l * 1.1) c h);
  transition: background 0.3s ease;
  outline: 0;
}

@media (min-width: 768px) {
  .build-button {
    padding: 0 40px;
  }
}

.card {
  width: 350px;
  height: 400px;
  background: hsl(from var(--color-gray) h s l / 50%);
  border-radius: 32px;
}

@media (max-width: 375px) {
  .card {
    width: 90%;
    height: 400px;
    border-radius: 24px;
  }
}

.card-content {
  margin: 1rem;
}

.card-h3 {
  font-size: var(--font-size-lg);
  color: var(--color-light-light-green);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-widest);
}

.card-p {
  font-size: 14px;
  line-height: var(--line-height-md);
  color: var(--color-light-green);
  letter-spacing: var(--letter-spacing-wide);
}

.card-price {
  background: linear-gradient(to bottom, #2c403d 0%, #211d25 100%);
  overflow: hidden;
  height: 150px;
  border-radius: 32px 32px 0 0;
  padding: 1rem;
}

.price-type {
  font-size: var(--font-size-xl);
  color: var(--color-light-light-green);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-widest);
}

.price {
  font-size: var(--font-size-xxl);
  color: var(--color-aqua);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-widest);
}

.from {
  font-size: var(--font-size-lg);
  color: var(--color-light-light-green);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-widest);
  margin-right: 8px;
  margin-left: 8px;
}

.pricing-features {
  list-style: none;
  padding: 0;
}

.pricing-features li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}

.pricing-features li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  color: var(--color-aqua);
  font-weight: bold;
  font-size: 44px;
  top: 50%;
  transform: translateY(-50%);
}

.pricing-features > li {
  line-height: var(--line-height-md);
  color: var(--color-light-light-green);
  letter-spacing: var(--letter-spacing-wide);
}

@media (max-width: 375px) {
  .card-price {
    background: linear-gradient(to bottom, #2c403d 0%, #211d25 100%);
    overflow: hidden;
    height: 120px;
    border-radius: 24px 24px 0 0;
    padding: 0 1rem;
  }

  .price-type {
    font-size: var(--font-size-lg);
  }

  .price {
    font-size: var(--font-size-xl);
  }

  .from {
    font-size: var(--font-size-md);
    color: var(--color-light-light-green);
  }

  .pricing-features li {
    font-size: var(--font-size-sm);
    padding-left: 40px;
  }

  .pricing-features li::before {
    font-size: 32px;
  }
}
